<h1>The Gesichtswurst Community</h1>
<p>Check out the personalisierte Gesichtswürste created by our community members.</p>
<p>Not a member yet? <%= link_to "Sign up!", new_user_registration_path %> </p> 
