<div class="home-banner">
  <div class="home-header-text">
    <h1>Personalisierte Gesichtswurst</h1>
    <p>Slicing smiles, one salami face at a time! Coming soon.</p>

    <div class="generator-form">
      <%= simple_form_for (@gesichtswurst) do |f| %>
          <%= f.input :photo,
                      as: :file,
                      input_html: { class: "generator-photo-input"},
                      label: false %>
        <span class="generator-submit-button">
          <%= f.submit "Wurstifizieren!" %>
        </span>
      <% end %>
    </div>

  </div>
</div>

<section class="slideshow">
  <button class="pre-btn"><i class="fa-solid fa-chevron-left"></i></button>
  <button class="nxt-btn"><i class="fa-solid fa-chevron-right"></i></button>
  <div class="slideshow-cards-container">

      <div class="gesichtswurst-card">
        <div class="gesichtswurst-card-image">
          <%= image_tag "wurstgesicht-bear.jpeg", alt: "A slice of Gesichtswurst with a cartoon bear" %>
          <div class="gesichtswurst-card-content">
            <div class="gesichtswurst-name">
              <h3><strong>Henry</strong></h3>
            </div>
            <div class="gesichtswurst-location">
              <i class="fa-solid fa-location-dot"></i>
              <h4 class="gesichtswurst-city">Berlin</h4>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>
